Temp/workerlic
Temp/UnityLockfile
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Library/SourceAssetDB-lock
Library/SourceAssetDB
Library/SceneVisibilityState.asset
Library/EditorInstance.json
Library/CurrentLayout-default.dwlt
Library/ArtifactDB-lock
